            <!-- Search Form -->
            <div id="search-form-box" class=" pull-right">
                <div id="searchformwrap">
                        <div class="ui-widget">
                            {% csrf_token %}
                            <select id="searchterm" name="searchterm"></select>
                            <!--<input tabindex="2" type="submit" value="Search" id="subji" class="button Search" title="submit search terms">-->
                        </div>
                </div><!--/#sform -->
            </div><!--/#search-form-box -->
