{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<style>
.concept-count {
    margin-left: 5px;
}
.concept-link {
    float: left;
    width: 33%;
}
.concepts-container {
    display: block;
    overflow: auto;
    margin-bottom: 4em;
}
</style>
{% endblock %}

{% block branding %}
    {% include 'atlas/branding.html'%}
    {% block navigation %}
        {% include "atlas/middle_navigation.html" %}
    {% endblock %}
{% endblock %}

{% block content %}
<h1 class="CATitle">Concept Categories</h1><br>
{% if user.is_authenticated %}
<a id="add-concept-class-button"><button>update definition</button></a>
<div id="concept-class-form" class="hidden">
    {% crispy concept_class_form concept_class_form.helper %}
</div>
{% endif %}
{% for con_class in concept_classes %}
    <h3 class="ccc_under">Cassified under {{ con_class.name }}</h3>
    <p class="concept-count">({{ con_class.concepts|length }} Concepts)</p><br>
    <div class="concepts-container">
    {% for concept in con_class.concepts %}
        <div class="concept-link">
            <a class="concept tooltip" title="{{concept.definition_text}}" href="/concept/id/{{concept.id}}">{{ concept.name }}</a>
        </div>
    {% endfor %}
    </div>
{% endfor %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(".tooltip").tipsy({fade:false, gravity:"w", html:true});
$(document).ready(function() {
    $("#add-concept-class-button").click(function(){
        $("#concept-class-form").removeClass('hidden');
    })
    $("#concept-class-cancel").click(function(){
        $("#concept-class-form").addClass('hidden');
    })
});

</script>
{% endblock %}
