{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block head %}
<style>
.ui-autocomplete-loading { background: white url("/images/facebox/loading.gif") right center no-repeat; }
.asholder {position:relative;}
.condition-table {
    display: table;
    border-color: gray;
    padding-left: 20px;
    border-spacing: 5px 0px;
    width: 100%;
}
.condition-table>thead {
    border-bottom: 1px dotted #bebebe;
}

.name-ext-inputs {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.disam-def {
    margin: 5px;
    width: 52em;
    height: 8em;
}

.disam-name {
    width: 30em;
    margin-right: 5px;
}

.disam-name-ext {
    width: 20em;
}
    
</style>
{% endblock %}
{% load staticfiles %}

{% block branding %}
{% include 'atlas/branding.html'%}
{% block navigation %}
{% include "atlas/middle_navigation.html" %}
{% endblock %}

{% endblock %}

{% block content %}

<div class="container" id="pagecontent">

<div id="block-definition" class="block-full">	
    <div class="assertion">
        <div class="CATerm task">
            <h1 class="termtext">
                <a class="color-task" href="">
                <em>{{ task.name }}</em>
                </a>
                <span class="typebutton task_type"><a href="{% url 'all_tasks' %}">TASK</a></span>
            <div class="review-container">
                {% if task.review_status == "True" %}
                    <span class="reviewed-span">Reviewed</span>
                {% else %}
                    <span class="unreviewed-span">Unreviewed</span>
                {%endif%} 
                {% if user.is_authenticated %}
                    {% if task.review_status == "True" %}
                        <a class="reviewbutton" href="{% url 'set_unreviewed' 'task' task.id %}">Set as unreviewed</a>
                    {% else %}
                        <a class="reviewbutton" href="{% url 'set_reviewed' 'task' task.id %}">Set as reviewed</a>
                    {%endif%}
                {% endif %}
            </div>
            </h1>
        </div><!-- .CATerm.task -->

        <div class="defn">
            {{ task.definition_text | safe }}<br><br>
        {% if user.is_authenticated %}
        <a id="update_definition_button"><button>update definition</button></a>
        <a id="disambiguate_button"><button>disambiguate term</button></a>
        {% endif %}
        <a target="_blank" href="{% url 'task_graph' task.id %}"><button>graph</button></a>
        <a target="_blank" href="http://neurovault.org/tasks/{{ task.id }}"><button>neurovault</button></a>
        </div><!-- .defn -->

    {% if user.is_authenticated %}
    <!-- Update definition -->
    <div id="update_definition" class="hidden">
        <form method="POST" action="{% url 'update_task' task.id %}">
            <div class="modal-body">
                <textarea name="definition_text" rows="4" cols="50">{{ task.definition_text }}</textarea>
            </div>
            {% csrf_token %}
            <input id="cancel_button" class="btn btn-inverse" value="Cancel" type="reset">
            <input type="submit" value="submit" class="btn btn-primary"></input>
        </form>
    </div>
    <div id="disambiguate" class="hidden">
        {% crispy disambiguation_form disambiguation_form.helper %}
    </div>

    {% endif %}


        <div id="unterbutton_slide_def" class="defn"></div><!-- #unterbutton_slide_def.defn -->

        <div class="clear_all"></div>
    </div><!-- #block-definition.block-full -->

<!-- CONCEPTS -->
<div id="block-measurements" class="block-halfwide block-back">
    <em><a href="javascript:void(0)" class="task">{{ task.name }}</a></em> has been asserted to measure the following <strong>CONCEPTS</strong>
  
    {% if user.is_authenticated %}
    <button style="float:right;margin-top:10px" id="add_concept_button">ADD CONCEPT</button>		

    <!-- add concept box -->
    <form method="POST" action="{% url 'add_task_concept' task.id %}">
        <div id="concept_search_box" style="padding-bottom:20px;padding-top:20px" class="hidden">
            <div id="searchformwrap">
                <div class="ui-widget">
                <input tabindex="1" autocomplete="off" type="text" class="fwidgettxt front searchterm" id="conceptterm" size="20" name="conceptterm" aria-label="search for concept" title="Search for concept" placeholder="search for concept" />
                <!--
                <select id="concept_selection" class="fwidgettxt front searchterm">
                -->
                </div>
            </div>
            <div>
                <select name="concept_selection" id="concept_search_results" style="width:400px" class="hidden"></select>
            </div>
            {% csrf_token %}
            <button id="concept_cancel_button" type="button" class="btn btn-primary">Cancel</button>
            <input type="submit" value="submit" class="btn btn-primary"></input>    
        </form>
    </div>
    {% endif %}

    <div class="panes">
        <div class="pane">
            <div class="discdiv">
                {% if "ASSERTS" in task.relations %}
                    {% for relation in task.relations.ASSERTS %}
                    <div id="table_{{ relation.id }}" class="nullspace">
                        <div>
                            <div style='width:100%;height:1em'>
                                <a href="{% url 'concept' relation.id %}" class="concept">{{ relation.name }}</a>
                            </div>
                            <div style='width:40%;float:left'>
                                <div style="padding-left:10px;padding-top:5px;"><small>as measured by the contrast:</small></div>
                            </div>
                            <div style='width:60%;float:left;text-align:left;'>
                                <ul style="margin-left:30px;margin-top:8px;list-style-image:url('/static/img/contrast-icon.jpg');">
                                {% for concept, assertions in concepts.items %}
                                    {% for assertion in assertions %}
                                    <li class="contrastli">
                                        <a href="#" class="task">{{ assertion.name }}</a>
                                    </li>
                                    {% endfor %}
                                {% endfor %}
                                </ul>

                                <!-- Add contrast association -->
                                {% if user.is_authenticated %}
                                <button style="border-radius:15px;float:right" id="add_contrast_button_{{ relation.id }}">+</button>		
                                <div id="contrast_search_box_{{ relation.id }}" style="padding-left:13px;padding-bottom:20px" class="hidden">
                                    <div>
                                    {% if contrasts|length > 0 %}
                                    <form style="padding-top:20px" method="post" action="{% url 'add_concept_contrast_task' task.id %}">
                                        <select name="contrast_selection" id="add_contrast_{{ relation.id }}" style="width:220px" size="3" style="padding-left:10px;">
                                        {% for contrast in contrasts %}
                                        <option value="{{ contrast.id }}">{{ contrast.name }}</option>
                                        {% endfor %}
                                        </select>
                                        <input type="hidden" name="concept_id" value="{{ relation.id }}" />
                                        {% csrf_token %}
                                        <button id="cancel_button_{{ relation.id }}" type="button" class="btn btn-primary">Cancel</button>
                                        <input type="submit" value="submit" class="btn btn-primary"></input>    

                                    </form> 
                                    {% else %}
                                    <p style="padding-top:20px">No contrasts defined for task.
                                    <button id="close_button_{{ relation.id }}" style="border-radius:15px" type="button" class="btn">x</button>
                                    </p>
                                    {% endif %}
                                </div>
                                </div>
                                {% endif %}

                        </div>
                    </div>
                    <br clear='all'></div>
                    <br clear="all"><br clear="all">
                    <div id="target_{{ relation.id }}" style="display:none;padding-left:10px;"></div>
                    <div class="dotholder"><hr class="dotty"></div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- DISORDERS -->
<div id="bloastsk-implementors" class="block-halfwide-rfloat block-back block-margin">
    <div class="pane">
        <div class="discdiv"><b>DISORDERS</b> associated with <em><a href="javascript:void(0)" class="task">{{ task.name }}</a></em><br>
            {% for disorder in disorders %}
                <a href={% url "disorder" disorder.id %}>{{ disorder.name }}</a><br>
            {% empty %}
                <span class="noassoc">No associations have been added.</span><br><br>
            {% endfor %}
        </div>
    {% if user.is_authenticated %}
        <button style="float:right;margin-top:10px" id="add_disorder_button">ADD DISORDER</button>		
        <form class="hidden" action="{% url 'add_task_disorder' task.id %}" method="post" id="id-disorderform">
            {% csrf_token %}
            {% crispy task_disorder_form task_disorder_form.helper %}
        </form>
    {% endif %}
    </div>
</div><br clear="all">	

<!-- IMPLEMENTATIONS -->
<div id="block-implementors" class="block-halfwide block-back ">

    {% if user.is_authenticated %}
    <button style="float:right;margin-top:10px" id="add_implementation_button">ADD IMPLEMENTATION</button>		
    {% endif %}
    <div class="pane">
        <div class="discdiv"><b>IMPLEMENTATIONS</b> of <em><a href="javascript:void(0)" class="task">{{ task.name }}</a></em><br>
            <form class="hidden" action="{% url 'add_task_implementation' task.id %}" method="post" id='id-implementationform'>
                {% csrf_token %}
                {% crispy implementation_form implementation_form.helper %}
            </form>
            <div style="margin-top:10px;">
                <table style="cell-padding:10px;"></table>
            </div>
            {% for imp in implementations %}
                <div class="row">
                    <div class="col-md-6">
                        <a href="{{ imp.implementation_uri }}">{{ imp.implementation_name }}</a>
                    </div>
                    <div class="col-md-6">
                        {{ imp.implementation_description }}
                    </div>
                </div>
            {% empty %}
                <span class="noassoc">No implementations have been added.</span><br>
            {% endfor %}
        </div>
    </div>
</div>

<!-- EXTERNAL DATASETS -->
<div id="block-implementors" class="block-halfwide-rfloat block-back block-margin">
    {% if user.is_authenticated %}
    <button style="float:right;margin-top:10px" id="add_dataset_button">ADD EXTERNAL DATASET</button>
    {% endif %}
    <div class="pane">
        <div class="discdiv"><b>EXTERNAL DATASETS</b> for <a href="javascript:void(0)" class="task">{{ task.name }}</a><br />
            <form class="hidden" action="{% url 'add_task_dataset' task.id %}" method="post" id='id-datasetform'>
                {% csrf_token %}
                {% crispy dataset_form dataset_form.helper %}
            </form>
            {% for ds in datasets %}
                <div class="row">
                    <div class="col-md-6">
                        {{ ds.dataset_name }}</a>
                    </div>
                    <div class="col-md-6">
                        <a href="{{ ds.dataset_uri }}">{{ ds.dataset_uri }}</a>
                    </div>
                </div>
            {% empty %}
                <span class="noassoc">No implementations have been added.</span><br>
            {% endfor %}
        </div>
    </div>
</div>
<div class="clear_all"></div>

<!-- CONDITIONS -->
<div style="width: 960px;"><div class="block-thirdwide block-back"><strong> CONDITIONS</strong><br>
    {% if user.is_authenticated %}
       <button id="add_condition" style="position:relative;border-radius:15px;float:right;top:-20px">+</button>
        <form action="{% url 'add_condition' task.id %}" method="POST">
            {% csrf_token %}
           <div id="condition_box" style="padding-top:30px" class="hidden">
               <label for="condition_name">Condition Name</label>
               <input type="text" name="condition_name"></input>
               <input type="submit" value="submit" class="btn btn-primary"></input>    
               <button id="condition_cancel_button" type="button" class="btn btn-primary">Cancel</button>
           </div>
        </form>
    {% endif %}
    {% for condition in conditions %}
    <div class="conblock{{ forloop.counter }}" id="conditions-block">
         <div id="condition_container{{ condition.condition_id }}">
            <div class="conblock-inner-left"><a name="{{ condition.condition_name }}"><em>{{ condition.condition_name }}</em></a> 
            </div>
        </div>
        <div class='clear_all'></div>
    </div>
    {% endfor %}

    <a name="conditions"></a><br /><p class="subinfo">Experimental conditions are the subsets of an experiment that define the relevant experimental manipulation.</p>
</div>

<!--CONTRASTS-->
<div class="block-thirdwide block-back block-margin">
    <strong>CONTRASTS</strong>
    <div class="conblock2" id="contrasts-block">
        {% if conditions|length > 0 %}
            {% if user.is_authenticated %}
                <a href="{% url 'add_task_contrast' task.id %}"><button style="position:relative;border-radius:15px;float:right;top:-20px">+</button></a>
            {% endif %}
        {% else %}
        <p class="subinfo" style="color:#d89013;padding-top:20px">You must specify conditions before you can define contrasts.</p>
        {% endif %}

        {% for contrast in contrasts %}
        <div id="contrast_container_{{ contrast.id }}">
            <div class="conblock-inner-wide">
                <a name="{{ contrast.name }}" class="task" href="#">{{ contrast.name }}</a><br/>
                {% if contrast.conditions %}
                <table class=condition-table>
                <thead><tr>
                <th>Condition</th>
                <th>Weight</th>
                </tr></thead>
                <tbody>
                {% for cond in contrast.conditions %}
                    <tr>
                        <td>{{ cond.0.name }}</td>
                        <td>{{ cond.1.weight }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                {% endif %}
            </div>
            <div id="editcont_{{ contrast.id}}" style="display:none" class="popstar marbot"><br/>
            <form method="post" action="/post/" name="conteditform">
                <input type="hidden" name="form_type" value="contrast_update" />
                <input type="hidden" name="return_page" value="task/id" />
                <input type="hidden" name="id_object" value="{{ task.id }}" />	
                <input type="hidden" name="id" value="{{ contrast.id }}" />	

                <table>
                    <tr><td><strong>Edit Contrast:</strong><br/>
                        <input type="text" name="contrast_text" value="{{ contrast.name }}" size="28" title="contrast text" aria-label="contrast text">
                    </td></tr>
                    <tr><td><strong>Contrast URI:</strong><br/>
                        <input type="text" name="contrast_uri" value="" size="28" title="contrast uri" aria-label="contrast uri">
                    </td></tr>
                    <tr><td style="text-align:right">
                        <input type="button" onclick="javascript:window.location.reload();" value="cancel" title="cancel submission" aria-label="cancel submission"/>
                        <input type="submit" value="update" title="submit form" aria-label="submit form" />
                        <input type="button" rel="{{ contrast.id }}" class="contrast-delete" value="delete" title="delete contrast" aria-label="delete contrast" />
                     </td></tr>
                </table>
            </form>
        </div>
    </div>
    <div class=clear_all></div>
    {% endfor %}    
</div>  
<a name="contrasts"></a><br/>

<p class="subinfo">In the Cognitive Atlas, we define a contrast as any function over experimental conditions. The simplest contrast is the indicator value for a specific condition; more complex contrasts include linear or nonlinear functions of the indicator across different experimental conditions.</p>

</div>

<!-- INDICATORS -->
<div class="block-thirdwide block-back block-margin">
    <strong>INDICATORS</strong>
    {% for indicator in indicators %}
        <div class="conblock-inner-wide">
            {{ indicator.type }}
        </div>
    {% empty %}
        <p class="subinfo" style="color:#d89013;padding-top:20px">No indicators have yet been associated.</p>
    {% endfor %}
    {% if user.is_authenticated %}
        <button style="margin-top:10px;margin-bottom:10px" id="add_indicator_button">ADD INDICATOR</button>
        <form class="hidden" action="{% url 'add_task_indicator' task.id %}" method="post" id='id-indicatorform'>
            {% csrf_token %}
            {% crispy indicator_form indicator_form.helper %}
        </form>
    {% endif %}

    <p class="subinfo">An indicator is a specific quantitative or qualitative variable that is recorded for analysis. These may include behavioral variables (such as response time, accuracy, or other measures of performance) or physiological variables (including genetics, psychophysiology, or brain imaging data).</p>
</div>

<!-- CITATIONS -->
<div id="block-biblio" class="block-bits block-back container">
    <h2>Term <strong>BIBLIOGRAPHY</strong></h2>
    {% for citation in citations %}
        <div id="{{ citation.id }}">
            <span class="citation">
                <a href="{{ citation.citation_url }}"><b>{{ citation.citation_desc }}</b></a>
            </span>
            <br>
            <em>{{ citation.citation_authors }}</em>
            <br>
            {{ citation.citation_pubname }}
            <br>
            {{ citation.citation_pubdate }}
            <br>
            <div class="dotholder">
                <hr class="dotty">
            </div>
        </div>
    {% empty %}
    {% endfor %}
    {% if user.is_authenticated %}
        <button style="margin-top:10px;margin-bottom:10px" id="add_citation_button">ADD CITATION</button>
        <div id="id-citationform" class="hidden">
            {% crispy doi_form doi_form.helper %}
        </div>
    {% endif %}
</div>

<br clear="all"><div class="clear_all"></div>

<a target="_blank" href="{% url 'task_json' task.id %}"><button>json</button></a>

</div><!-- #unterbutton_slide_XXX -->					
</div><!-- .discdiv -->
</div><!-- .pane -->
<div class="clear_all"></div>
<div class="clear_all"><br/>
  
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $(function() {
       $(".tooltip").tipsy({fade:false, gravity:"w", html:true});
       $("#masker").fadeOut("fast");
    });

    // Show form to update definition
    $("#update_definition_button").click(function(){
        $("#update_definition").removeClass('hidden');
    })
    $("#cancel_button").click(function(){
        $("#update_definition").addClass('hidden');
    })

    // Show/hide form to disambiguate form
    $("#disambiguate_button").click(function(){
        $("#disambiguate").removeClass('hidden');
    })
    $("#disambiguate_cancel_button").click(function(){
        $("#disambiguate").addClass('hidden');
    })

    // Show form to add concept
    $("#add_concept_button").click(function(){
        $("#concept_search_box").removeClass('hidden');
    })
    $("#concept_cancel_button").click(function(){
        $("#concept_search_box").addClass('hidden');
    })

    // Show input to add condition
    $("#add_condition").click(function(){
        $("#condition_box").removeClass('hidden');
    })
    $("#condition_cancel_button").click(function(){
        $("#condition_box").addClass('hidden');
    })

    // Show input to add implementation
    $("#add_implementation_button").click(function(){
        $("#id-implementationform").removeClass('hidden');
    })
    $("#reset-id-implementation-cancel").click(function(){
        $("#id-implementationform").addClass('hidden');
    })

    // Show input to add dataset
    $("#add_dataset_button").click(function(){
        $("#id-datasetform").removeClass('hidden');
    })
    $("#reset-id-dataset-cancel").click(function(){
        $("#id-datasetform").addClass('hidden');
    })

    // Show input to add indicator
    $("#add_indicator_button").click(function(){
        $("#id-indicatorform").removeClass('hidden');
    })
    $("#reset-id-indicator-cancel").click(function(){
        $("#id-indicatorform").addClass('hidden');
    })

    // Show input to add citation
    $("#add_citation_button").click(function(){
        $("#id-citationform").removeClass('hidden');
    })
    $("#reset-id-doi-cancel-button").click(function(){
        $("#id-citationform").addClass('hidden');
    })
 
    $("#add_disorder_button").click(function(){
        $("#id-disorderform").removeClass('hidden');
    })
    $("#reset-id-task-disorder-cancel").click(function(){
        $("#id-disorderform").addClass('hidden');
    })
 

    {% if user.is_authenticated %}
    $(function() {
        $('#concept_selection').select2({
            width: '100%',
            placeholder: 'Search for concept',
            minimumInputLength: 2,
            tags: [],
            ajax: {
                type: "POST",
                url: "{% url 'search_concept' %}",
                data: function (params) {
                    console.log(params);
                    var queryParams = {
                        'relationterm' : params['term'],
                        'csrfmiddlewaretoken' : '{{ csrf_token }}'
                    }
                    return queryParams;
                },
                dataType: 'json',
                processResults: function (data) {
                    if (data.length > 0) {
                        return {
                            results: $.map(data, function(datum) {
                                return {id: datum.id, text: datum.name};
                            })
                        }
                    } else {
                        return {results: [{'id': '0', 'text': 'No Results Found'}]}
                    }
                }
            }
        });
    });

    $(function() {

    $('#conceptterm').click(function() {
        $("#concept_search_results").addClass("hidden")
        $("#concept_search_results").html("")
        $("#concept_search_results").attr("size","0")
    });

    $('#conceptterm').keyup(function() {

        $.ajax({
            type: "POST",
            url: "{% url 'search_concept' %}",
            data: {
                'relationterm' : $('#conceptterm').val(),
                'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
            },
            complete: function (data, error){
                  $("#concept_search_results").html("")
                  var results = JSON.parse(data.responseText);
                  $.each(results,function(i,e){
                      $("#concept_search_results").append('<option value="' + e.id +'">'+ e.name +'</option>');
                  });

                  $("#concept_search_results").removeClass("hidden")
                  $("#concept_search_results").attr("size","5")

            },
            dataType: 'html',
        });

    });
    });

    // Button functionality for concept contrast selection
    {% if "ASSERTS" in task.relations %}
    (function() {
       {% for relation in task.relations.ASSERTS %}

        $("#add_contrast_button_{{ relation.id }}").click(function(){
            $("#contrast_search_box_{{ relation.id }}").removeClass("hidden")
        }); 

        $("#cancel_button_{{ relation.id }}").click(function(){
            $("#contrast_search_box_{{ relation.id }}").addClass("hidden")
        });

        $("#close_button_{{ relation.id }}").click(function(){
            $("#contrast_search_box_{{ relation.id }}").addClass("hidden")
        });

        {% endfor %}
    })();
    {% endif %}


    {% endif %}


});
</script>
{% endblock %}

