{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<!--TODO: Add title with term name -->
<style>
.ui-autocomplete-loading { background: white url("{% static "images/facebox/loading.gif" %}") right center no-repeat; }
.asholder {position:relative;}
.concept-assertion-list {
    width: 24%;
    float: left;
    padding-right: 4px
}
.concept-assertion-list>li {
    list-style-position: inside;
}
</style>
{% endblock %}

{% block branding %}
{% include 'atlas/branding.html'%}
{% block navigation %}
{% include "atlas/middle_navigation.html" %}
{% endblock %}

{% endblock %}

{% block content %}

<div id="block-definition" class="block-full"><div class="assertion">
    <div class="CATerm concept">
        <h1 class="termtext">
            <a class="color-concept" href="">
                <em>{{ concept.name }}</em>
            </a>
            <span class="typebutton concept_type"><a href="{% url 'all_concepts' %}">CONCEPT</a></span>
            <div class="review-container">
                {% if concept.review_status == "True" %}
                    <span class="reviewed-span">Reviewed</span>
                {% else %}
                    <span class="unreviewed-span">Unreviewed</span>
                {% endif %} 
                {% if owner_or_admin %}
                    {% if concept.review_status == "True" %}
                        <a class="reviewbutton" href="{% url 'set_unreviewed' 'concept' concept.id %}">Set as unreviewed</a>
                    {% else %}
                        <a class="reviewbutton" href="{% url 'set_reviewed' 'concept' concept.id %}">Set as reviewed</a>
                    {% endif %}
                {% endif %}
            </div>

        </h1>
    </div><!-- .CATerm.concept -->

    <div class="defn">
        {{ concept.definition_text|safe }}<br><br>
        {% if creator %}
            Definition contributed by {{ creator }}
        {% endif %}
    </div>


    {% if owner_or_admin %}
    <!-- Update definition -->
    <div id="update_definition" class="hidden">
        <div id="block-atlas" class="block-full">
            <h3><strong>Update Definition</strong></h3>
            {% crispy concept_form concept_form.helper %}
        </div>
    </div>

    {% endif %}

</div><!-- .assertion -->

<div>

<div id='unterbutton_slide_def'>
    <div class="defn">
        {% if owner_or_admin %}
        <div class="unterbutton_left">
            <a href="#" data-toggle="modal" id="update_definition_button" class="slide_def ">Update definition</a> 
        </div>  
        {% endif %}
        <div class="unterbutton_left">
            <a target="_blank" href="{% url 'concept_graph' concept.id %}">graph</a>
        </div>
        <div class="unterbutton_left">
            <a target="_blank" href="{% url 'concept_json' concept.id %}">json</a>
        </div>
        <div class="unterbutton_left">
            <a target="_blank" href="http://www.neurosynth.org/analyses/terms/{{ concept.name|lower|urlencode }}/">Search on Neurosynth</a>
        </div>
    </div><!-- .defn -->
</div>

<div class="clear_all"></div>
</div><!-- #block-definition.block-full -->

<div id="block-atlas" class="block-full">
    <!--
    <ul class="tabs">
        <li><a href="#list-view">List View</a></li>
    </ul>-->
    <h2>Asserted <strong>relationships</strong> to other concepts</h2>

    {% if owner_or_admin %}
    <div id="relation_box" style="padding-top:20px;border-radius: 4px;padding: 10px;">
    <button id="add_relation_button" style="float:right">add relation</button>

    <!-- Add relation -->
    <div id="add_relation" class="hidden">

            <form method="POST" action="{% url 'add_concept_relation' concept.id %}">
            Select a concept and its relationship to <a class="color-concept" href=""><em>{{ concept.name }}</em></a>:
            <table class='block-4t'>
                <tr><td>
                <div id="ttblock" style="padding-top:20px">
                    <input type="radio" value="PARTOF" name="relation_type" title='You must select a relation type!' aria-label='type of relation' required/>
                    <label>is a part of</label>
                    <br/>
                    <input type="radio" value="KINDOF" name="relation_type" title='You must select a relation type!' aria-label='type of relation' />
                    <label>is a kind of</label>
                    <br/>
                    <input type="radio" value="REVPARTOF" name="relation_type" title='You must select a relation type!' aria-label='type of relation' />
                    <label>has part</label>
                    <br/>
                    <input type="radio" value="REVKINDOF" name="relation_type" title='You must select a relation type!' aria-label='type of relation' />
                    <label>has kind</label>
                    <br/>
                    <br>

                    <!-- Concept Search Form -->
                    <div id="relation_search_box" style="padding-bottom:20px">
                        <div id="searchformwrap">
                            <div class="ui-widget">
                                <select id="concept_selection" name="concept_selection" ></select>
                            </div>
                       </div>
                    </div>
                </div><!--/ttblock-->

                {% csrf_token %}
                <button id="cancel_relation_button" type="button" class="btn btn-primary">Cancel</button>
                <input type="submit" value="submit" class="btn btn-primary"></input>

                </td>
                </tr>
            </table>
            </form>
    </div>
    </div>
    {% endif %}


    <div class="panes">

    <div class="discdiv tablist">
        <div class="concept-assertion-list">
            <b>{{ concept.name }}<br/>
            <span class="connector-lite">is a kind of</span></b><hr class="dotty" />
            {% if "KINDOF" in concept.relations %}
            {% for relation in concept.relations.KINDOF %}
                <li class="hoverator-list" rel="{{ relation.id }}"><span style="float:right;display:none;" id="list_hovercard_{{ relation.id }}"><a href="{% url 'concept' relation.id %}"><img src="{% static "img/assert.png"%}" title="Click to view concept {{ relation.name }}: {{ relation.definition_text }}"></a></span><a href="{% url 'concept' relation.id %}" id="options_{{ relation.id }}" class="optionator concept" title="Click to view the page for {{ relation.name }}">{{ relation.name }}</a></li>
            {% endfor %}
            {% else %}
            <div>No associations</div>
            {% endif %}
        </div>

        <div class="concept-assertion-list">
            <b>{{ concept.name }}<br/>
            <span class="connector-lite">is a part of</span></b><hr class="dotty" />

            {% if "PARTOF" in concept.relations %}
            {% for relation in concept.relations.PARTOF %}
                <li class="hoverator-list" rel="{{ relation.id }}"><span style="float:right;width:10px;display:none;" id="list_hovercard_{{ relation.id }}"><a href="{% url 'concept' relation.id %}"><img src="{% static "images/icons/assert.png"%}" title="Click to view concept {{ relation.name }}: {{ relation.definition_text }}"></a></span><a href="{% url 'concept' relation.id %}" id="options_{{ relation.id }}" class="optionator concept" title="Click to view the page for {{ relation.name }}">{{ relation.name }}</a></li>
            {% endfor %}

            {% else %}
            <div>No associations</div>
            {% endif %}
        </div>
        <div class="concept-assertion-list">
                <span class="connector-lite">are a kind of</span>
                <br/><b>{{ concept.name }}</b><br/>
                <hr class="dotty" />
                {% for relation in are_kinds_of %}
                    <li class="hoverator-list" rel="{{ relation.id }}">
                        <span style="float:right;width:10px;display:none;" id="list_hovercard_{{ relation.id }}">
                            <a href="{% url 'concept' relation.id %}">
                                <img src="{% static "img/assert.png"%}" title="Click to view concept {{ relation.name }}: {{ relation.definition_text }}">
                            </a>
                        </span>
                        <a href="{% url 'concept' relation.id %}" id="options_{{ relation.id }}" class="optionator concept" title="Click to view the page for {{ relation.name }}">{{ relation.name }}</a></li>
                {% empty %}
                    <div>No associations</div>
                {% endfor %}
        </div>
        <div class="concept-assertion-list">
                <span class="connector-lite">are a part of</span>
                <br/><b>{{ concept.name }}</b><br/>
                <hr class="dotty" />
                {% for relation in are_parts_of %}
                    <li class="hoverator-list" rel="{{ relation.id }}">
                        <span style="float:right;width:10px;display:none;" id="list_hovercard_{{ relation.id }}">
                            <a href="{% url 'concept' relation.id %}">
                                <img src="{% static "img/assert.png"%}" title="Click to view concept {{ relation.name }}: {{ relation.definition_text }}">
                            </a>
                        </span>
                        <a href="{% url 'concept' relation.id %}" id="options_{{ relation.id }}" class="optionator concept" title="Click to view the page for {{ relation.name }}">{{ relation.name }}</a></li>
                {% empty %}
                    <div>No associations</div>
                {% endfor %}
                
            </div>
</div></div></div></div><!-- #block-atlas.block-full -->
<div class="clear_all">
</div>


<!-- TASKS -->
<div id="block-holder" class="block-full"><div id="block-measurements" class="block-half">  
    <h2><strong>Tasks</strong> that are asserted to measure <em class="dictionary">{{ concept.name }}</em></h2>

    {% if owner_or_admin %}
    <button style="float:right;margin-top:10px" id="add_task_button">ADD TASK</button>		

    <!-- add task box -->
    <form method="POST" action="{% url 'add_concept_contrast' concept.id %}">
        <div id="task_search_box" style="padding-bottom:20px;padding-top:20px" class="hidden">
            <select id="contrast-selection" name="contrast-selection"></select>
            {% csrf_token %}
            <button id="task_cancel_button" type="button" class="btn btn-primary">Cancel</button>
            <input type="submit" value="submit" class="btn btn-primary"></input>    
        </form>
    </div>
    {% endif %}



    <div class="panes">
        <div class="pane">
            <div class="discdiv">
                <table width='100%'>
                    <tr>
                       <td width='50%' valign='top'><b>Task</b></td>
                       <td width='50%' valign='top'><b>Contrast Measure</b></td>
                    </tr>
                </table>
                {% for task, contrasts in assertions.items %}
                <table id="table_{{ task.id }}" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td colspan="3"><div class="dotholder"><hr class="dotty"></div></td>
                    </tr>
                    <tr>
                       <td width='50%' valign='top'><b><a href="{% url 'task' task.id %}" class="task">{{ task.name }}</a></b></td>
                        <td width='50%' valign='top'>
                        <ul>
                        {% for contrast in contrasts %}
                           <li>{{ contrast.name }}</li>
                        {% endfor %}
                        </ul>
                        </td>
                    </tr>
                </table>
                {% endfor %}
                {% for assertion in assertions_no_cont %}
                <table id="table_{{ assertion.0.id }}" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td colspan="3"><div class="dotholder"><hr class="dotty"></div></td>
                    </tr>
                    <tr>
                       <td width='50%' valign='top'>
                         <b><a href="{% url 'task' assertion.0.id %}" class="task">{{ assertion.0.name }}</a></b>
                        </td>
                       <td width='50%' valign='top'>
                        <i>None</i>
                       </td>
                    </tr>
                </table>
                {% endfor %}

</div></div></div></div><!-- #block-measurements.block-half -->
<div id="block-appliances" class="block-half" style="">
</div>

<!-- CITATIONS -->
<div id="block-biblio" class="block-bits block-back container">
    <h2>Term <strong>BIBLIOGRAPHY</strong></h2>
    {% for citation in citations %}

        {% if owner_or_admin %}
                <a class="reviewbutton" href="{% url 'unlink_citation' 'concept' concept.id citation.id%}" style="float:right">
                  Remove
                </a>
        {% endif %}
        <div id="{{ citation.id }}">
            <span class="citation">
                <a href="{{ citation.citation_url }}"><b>{{ citation.citation_desc }}</b></a>
            </span>
            <br>
            <em>{{ citation.citation_authors }}</em>
            <br>
            {{ citation.citation_pubname }}
            <br>
            {{ citation.citation_pubdate }}
            <br>

            <div class="dotholder">
                <hr class="dotty">
            </div>
        </div>


    {% empty %}
    {% endfor %}
    {% if owner_or_admin %}
        <button style="margin-top:10px;margin-bottom:10px" id="add_citation_button">ADD CITATION</button>
        <div id="id-citationform" class="hidden">
            {% crispy doi_form doi_form.helper %}
        </div>
    {% endif %}
</div>

</div><!-- #block-ephemera.block-full -->

{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $(function() {
       $(".tooltip").tipsy({fade:false, gravity:"w", html:true});
       $("#masker").fadeOut("fast");
    });

    // Show form to update definition
    $("#update_definition_button").click(function(){
        $("#update_definition").removeClass('hidden');
    })
    $("#reset-id-concept-cancel").click(function(){
        $("#update_definition").addClass('hidden');
    })

    // Add a relation
    $("#add_relation_button").click(function(){
        $("#add_relation").removeClass('hidden');
        $("#relation_box").css("background-color","#F7F7F7")
    })

    $("#cancel_relation_button").click(function(){
        $("#add_relation").addClass('hidden');
        $("#relation_box").css("background-color","")
    })

    // Show input to add citation
    $("#add_citation_button").click(function(){
        $("#id-citationform").removeClass('hidden');
    })
    $("#reset-id-doi-cancel-button").click(function(){
        $("#id-citationform").addClass('hidden');
    })

    // Show form to add task 
    $("#add_task_button").click(function(){
        $("#task_search_box").removeClass('hidden');
    })
    $("#task_cancel_button").click(function(){
        $("#task_search_box").addClass('hidden');
    })


    // Add relation search
    $(function() {
        $('#concept_selection').select2({
            width: '100%',
            placeholder: 'Search for concept',
            minimumInputLength: 2,
            tags: [],
            ajax: {
                type: "POST",
                url: "{% url 'search_concept' %}",
                data: function (params) {
                    console.log(params);
                    var queryParams = {
                        'relationterm' : params['term'],
                        'csrfmiddlewaretoken' : '{{ csrf_token }}'
                    }
                    return queryParams;
                },
                dataType: 'json',
                processResults: function (data) {
                    console.log(data);
                    return {
                        results: $.map(data, function(datum) {
                            return {id: datum.id, text: datum.name};
                        })
                    }
                }
            }
        });

    });

    {% if owner_or_admin %}
    $('#contrast-selection').select2({
        language: {
            noResults: function(params) {return "No Results";}
        },
        width: '100%',
        placeholder: 'Search for contrast',
        minimumInputLength: 2,
        tags: [],
        escapeMarkup: function(x) {return x;},
        ajax: {
            type: "POST",
            url: "{% url 'search_contrast' %}",
            data: function (params) {
                console.log(params);
                var queryParams = {
                    'relationterm' : params['term'],
                    'csrfmiddlewaretoken' : '{{ csrf_token }}'
                }
                return queryParams;
            },
            dataType: 'json',
            processResults: function (data) {
                if (data.length > 0) {
                    return {
                        results: $.map(data, function(datum) {
                            return {'id': datum.cid, 'text': datum.tname + ' (task) - ' + datum.cname + ' (contrast)'}
                        })
                    }
                } else {
                    return {results: [{'id': '0', 'text': 'No Results Found'}]}
                }
            }
        }
    });


    {% endif %}



});
</script>
{% endblock %}
