{% extends "main/base.html" %}
{% block head %}
<style>
.ui-autocomplete-loading { background: white url("/images/facebox/loading.gif") right center no-repeat; }
.asholder {position:relative;}
</style>
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block branding %}
{% include 'atlas/branding.html'%}
{% block navigation %}
{% include "atlas/middle_navigation.html" %}
{% endblock %}

{% endblock %}

{% block content %}
    <h1 rel='{{ disorder.id }}'>{{ disorder.name }}<span class="typebutton disorder_type"><a href="{% url 'all_disorders' %}">DISORDER</a></span></h1>
    <div class='defn'>
        {{ disorder.definition }}<br>
        {% if creator %}
            Definition contributed by {{ creator }}<br>
        {% endif %}
    </div>
    <div id="unterbutton_slide_def">
        <div class="defn">  
            {% if owner_or_admin %}
            <div class="unterbutton_left" id="ub_left">    
                <a href="#" class="slide_def" id="openpane">+ Edit Disorder Details</a>  
            </div>
            {% endif %}
            <div class="unterbutton_left">
                <a target="_blank" href="http://www.neurosynth.org/analyses/terms/{{ disorder.name|lower|urlencode }}/">Search on Neurosynth</a>
            </div>
        </div><!-- .defn -->
    </div><!-- #unterbutton_slide_def -->
    
    <!--Edit disorder details-->
    <div id="editpane" class="hidden">
        <form method="post" id="dform" action="{% url 'update_disorder' disorder.id %}">  
            {% csrf_token %}
            <input type="hidden" name="id_object" value="{{ disorder.id }}">
            <label for="disorder_name">Disorder Name</label><br>
            <input type="text" name="disorder_name" id="disorder_name" value="{{ disorder.name }}" size="58"><br>
            <label for="disorder_definition">Definition</label><br>
            <textarea name="disorder_definition" id="disorder_definition" rows="12" cols="60">{{ disorder.definition }}</textarea>  <br><br>
            <!-- disabling this for now 
            {% if user.is_superuser %}
            <div style="float:right;width:120px;">
                <button style="background:none; background-color:red !important;color:#fff !important;" id="deleterious" title="delete disorder" aria-label="delete disorder" rel="{{ disorder.id }}">Delete Disorder</button>
            </div>
            {% endif %}-->
            <input type="submit" value="submit" id="submittor" title="submit form" aria-label="submit form"> 
            <input id="update-cancel" value="Cancel" type="reset" aria-label="cancel update" title="cancel submission" />
        </form><br><br>
    </div><br>
    <div class='attribo'>
        <div id="edittargetw" style="display:none; border: 1px solid silver; padding: 20px; width: 350px;">  <i>Select the parent class for this disorder:</i><br><br> 
        </div></div>

<!-- TASKS -->
<div id="block-holder" class="block-full"><div id="block-measurements" class="block-half">  
    <h2><strong>Tasks</strong> associated with <em class="dictionary">{{ disorder.name }}</em> and their <strong>contrasts</strong></h2>

    {% if owner_or_admin %}
    <button style="float:right;margin-top:10px" id="add_contrast_button">ADD Contrast</button>		

    <!-- add task box -->
    <form method="POST" action="{% url 'add_disorder_contrast' disorder.id %}">
        <div id="task_search_box" style="padding-bottom:20px;padding-top:20px" class="hidden">
            <div id="searchformwrap">
                <div class="ui-widget">
                <select id="contrast-selection" name="contrast-selection"></select>
                </div>
            </div>
            {% csrf_token %}
            <button id="contrast_cancel_button" type="button" class="btn btn-primary">Cancel</button>
            <input type="submit" value="submit" class="btn btn-primary"></input>    
        </form>
    </div>

    {% endif %}



    <div class="panes">
        <div class="pane">
            <div class="discdiv">
                <table width='100%'>
                    <tr>
                       <td width='50%' valign='top'><b>Task</b></td>
                       <td width='50%' valign='top'><b>Contrast Measure</b></td>
                    </tr>
                </table>
                {% for task, contrasts in assertions.items %}
                <table id="table_{{ task.id }}" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td colspan="3"><div class="dotholder"><hr class="dotty"></div></td>
                    </tr>
                    <tr>
                       <td width='50%' valign='top'><b><a href="{% url 'task' task.id %}" class="task">{{ task.name }}</a></b></td>
                        {% for contrast in contrasts %}
                           <td width='50%' valign='top'>{{ contrast.name }}</td>
                        {% empty %}
                           <td width='50%' valign='top'></td>
                        {% endfor %}
                    </tr>
                </table>
                {% endfor %}

</div></div></div></div><!-- #block-measurements.block-half -->

<div class="block-right-container clearfix">
    <div id="block-implementors" class="block-back ">
        <div class="pane">
            <div class="discdiv"><b>RELATIONSHIPS</b> to other disorders<br>
                <div>{{ disorder.name }} is kind of the following disorders:<br>
                {% for relation in parent_disorders %}
                    <div class="relation-border pre-top-margin">
                      <a href="{% url 'disorder' relation.id %}" rel="{{ relation.id }}" class="classic">{{ relation.name }}</a>
                    </div>
                <div class="diso-relation-buffer"></div>
                {% empty %}
                    <b>None</b><br>
                    <div class="diso-relation-buffer"></div>
                {% endfor %}
                </div>
                <div>The following diorders are kind of {{ disorder.name }}:<br>
                {% for relation in child_disorders %}
                    <div class="relation-border pre-top-margin">
                      <a href="{% url 'disorder' relation.id %}" rel="{{ relation.id }}" class="classic">{{ relation.name }}</a>
                    </div>
                <div class="diso-relation-buffer"></div>
                {% empty %}
                    None<br>
                    <div class="diso-relation-buffer"></div>
                {% endfor %}
                <button style="float:right;margin-top:10px" id="add-disorder-button">ADD DISORDER RELATIONSHIP</button>		
                <form method="post" action="{% url 'add_disorder_disorder' disorder.id %}" class='hidden' id='disorder-form'>
                    {% crispy disorder_form disorder_form.helper %}
                </form>
                </div>
            </div>  
        </div>
    </div>
</div>

<div id="block-implementors" class="block-halfwide-rfloat block-back block-margin">
    {% if owner_or_admin %}
    <button style="float:right;margin-top:10px" id="add-link-button">ADD EXTERNAL LINK</button>
    {% endif %}
    <div class="pane">
        <div class="discdiv"><b>EXTERNAL LINKS</b> for <a href="javascript:void(0)" class="task">{{ task.name }}</a><br />
            <form class="hidden" action="{% url 'add_disorder_external_link' disorder.id %}" method="post" id='link-form'>
                {% csrf_token %}
                {% crispy external_link_form external_link_form.helper %}
            </form>
            {% for link in external_links %}
                <div class="row">
                    <div class="col-md-6">
                        <a href="{{ link.uri }}">{{ link.uri }}</a>
                    </div>
                </div>
            {% empty %}
                <span class="noassoc">No implementations have been added.</span><br>
            {% endfor %}
        </div>
    </div>
</div>

<!-- CITATIONS -->
<div id="block-biblio" class="block-bits block-back container">
    <h2>Term <strong>BIBLIOGRAPHY</strong></h2>
    {% for citation in citations %}
        <div id="{{ citation.id }}">
            <span class="citation">
                <a href="{{ citation.citation_url }}"><b>{{ citation.citation_desc }}</b></a>
            </span>
            <br>
            <em>{{ citation.citation_authors }}</em>
            <br>
            {{ citation.citation_pubname }}
            <br>
            {{ citation.citation_pubdate }}
            <br>
            <div class="dotholder">
                <hr class="dotty">
            </div>
        </div>
    {% empty %}
    {% endfor %}
    {% if owner_or_admin %}
        <button style="margin-top:10px;margin-bottom:10px" id="add_citation_button">ADD CITATION</button>
        <div id="id-citationform" class="hidden">
            {% crispy doi_form doi_form.helper %}
        </div>
    {% endif %}
</div>
</div>


      <div class="clear_all">
  </div>
</div><br> 


{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $(function() {
       $(".tooltip").tipsy({fade:false, gravity:"w", html:true});
       $("#masker").fadeOut("fast");
       $("#openpane").click(function(){
           $("#editpane").removeClass("hidden");
       })

       $("#closepane").click(function(){
           $("#editpane").addClass("hidden");
       })
       $("#add-disorder-button").click(function(){
           $("#disorder-form").removeClass('hidden');
       })
       $("#reset-id-disorder-disorder-cancel").click(function(){
           $("#disorder-form").addClass('hidden');
       })

       $("#add_citation_button").click(function(){
           $("#id-citationform").removeClass('hidden');
       })
       $("#reset-id-doi-cancel-button").click(function(){
           $("#id-citationform").addClass('hidden');
       })

       $("#add-link-button").click(function(){
           $("#link-form").removeClass('hidden');
       })
       $("#reset-id-link-cancel").click(function(){
           $("#link-form").addClass('hidden');
       })
       $("#update-cancel").click(function(){
           $("#editpane").addClass('hidden');
       })

       $("#add_contrast_button").click(function(){
           $("#task_search_box").removeClass('hidden');
       })

       $("#contrast_cancel_button").click(function(){
           $("#task_search_box").addClass('hidden');
       })



    });
    {% if owner_or_admin %}
    // Add concept
    $(function() {

    $('#taskterm').click(function() {
        $("#task_search_results").addClass("hidden")
        $("#task_search_results").html("")
        $("#task_search_results").attr("size","0")
    });

    $('#taskterm').keyup(function() {

        $.ajax({
            type: "POST",
            url: "{% url 'search_task' %}",
            data: {
                'relationterm' : $('#taskterm').val(),
                'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
            },
            complete: function (data, error){
                  $("#task_search_results").html("")
                  var results = JSON.parse(data.responseText);
                  $.each(results,function(i,e){
                      $("#task_search_results").append('<option value="' + e.id +'">'+ e.name +'</option>');
                  });

                  $("#task_search_results").removeClass("hidden")
                  $("#task_search_results").attr("size","5")

            },
            dataType: 'html',
        });

    });
    });
    {% endif %}

    {% if owner_or_admin %}
    // Add concept

    $('#contrast-selection').select2({
        width: '100%',
        placeholder: 'Search for contrast',
        minimumInputLength: 2,
        tags: [],
        escapeMarkup: function(x) {return x;},
        ajax: {
            type: "POST",
            url: "{% url 'search_contrast' %}",
            data: function (params) {
                console.log(params);
                var queryParams = {
                    'relationterm' : params['term'],
                    'csrfmiddlewaretoken' : '{{ csrf_token }}'
                }
                return queryParams;
            },
            dataType: 'json',
            processResults: function (data) {
                console.log(data);
                return {
                    results: $.map(data, function(datum) {
                        return {id: datum.cid, text: datum.tname + ' - ' + datum.cname};
                    })
                }
            }
        }
    });

    {% endif %}




});
</script>
{% endblock %}
