{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<style>
.ui-autocomplete-loading { background: white url("/images/facebox/loading.gif") right center no-repeat; }
.asholder {position:relative;}
</style>

{% endblock %}

{% block branding %}
{% include 'atlas/branding.html'%}
{% block navigation %}
{% include "atlas/middle_navigation.html" %}
{% endblock %}

{% endblock %}

{% block content %}
<div class="marger"><div class="CATerm collection">
  <h1 class="termtext">
    <a class="color-collection" href="">
            <em>{{ theory.name }}</em>
          </a>
    <span class="typebutton collection_type"><a href="{% url 'all_theories' %}">THEORY</a></span>
  </h1>
</div><!-- .CATerm.collection -->

<div class="defncol">{{ theory.collection_description | safe }}<br><br>
{% if creator %}
    Definition contributed by {{ creator }}<br>
{% endif %}
<div class="attribo">
    <div class="classification">
    </div>
  
  <div class="attribution">
  </div>
</div><!-- .attribo -->

{% if owner_or_admin %}
<div id="unterbutton_slide_def">
    <div class="unterbutton">
        <a href="#" class="slide_def actionator" id="update_theory">edit theory</a>	
    </div>
</div>
</div>
<div id="edit_theory" style="margin-bottom:30px;" class="hidden popstar"><br />
    <form method="post" action="{% url 'update_theory' theory.id %}" id="form_update_collection">
        {% csrf_token %}
        <fieldset class="fsetter">
            <input type="hidden" name="theory_id" id="id_collection" value="{{ theory.id }}" />
            <input type="hidden" name="theory_name" id="theory_name" value="{{ theory.name }}" />
            <label class="collabel">Theory Description:</label><br />
            <textarea name="collection_description" id="collection_description" class="required" rows="8" cols="80" title="theory description" aria-label="theory description" >{{ theory.collection_description }}</textarea><br /><br />
                <label class="collabel"></label>
                <input type="reset" id="update-cancel" value="cancel" title="cancel submission" aria-label="cancel submission"  />
            <input type="submit" value="submit" title="submit form" aria-label="submit form" />
         </fieldset>
    </form>
</div>
{% endif %}
<div id="block-holder" class="block-full">
    <div id="block-measurements" class="block-half">
        <h2>Constituent <strong>Assertions</strong></h2><br>
            <ul class="alister">
            {% for assertion in assertions %}
                <li class="similitude {{assertion.id}}">{{ assertion.name }}
                </li>
            {% endfor %}
            </ul>
            <small>REFERENCED TERMS:</small> 
            {% for name, values in referenced_terms.items %}
                <a href="{{ values.1 }}" class="hovermark">{{ name }}</a>({{ values.0 }})
            {% endfor %}
            <br>
            {% if owner_or_admin %}
                <a name="add_theory_assertion_button" id="add_theory_assertion_button" class="actionator">+ add constituent assertion</a><br>
                <div id="slidetarget_constass" class="hidden"><br>
                    <div class="popstar">
                        <form method="post" name="theory-assertion-form" id="id-theory-assertion-form" action="{% url 'add_theory_assertion' theory.id %}">
                            {% crispy theory_assertions_form theory_assertions_form.helper %}
                         </form>
                   </div>
               </div> 
           {% endif %}
      </div>
 </div> 
</div>

<div id="block-biblio" class="block-bits block-back container">
    <h2>Term <strong>BIBLIOGRAPHY</strong></h2>
    {% for citation in citations %}
        {% if owner_or_admin %}
                <a class="reviewbutton" href="{% url 'unlink_citation' 'theory' theory.id citation.id%}" style="float:right">
                  Remove
                </a>
        {% endif %}
        <div id="{{ citation.id }}">
            <span class="citation">
                <a href="{{ citation.citation_url }}"><b>{{ citation.citation_desc }}</b></a>
            </span>
            <br>
            <em>{{ citation.citation_authors }}</em>
            <br>
            {{ citation.citation_pubname }}
            <br>
            {{ citation.citation_pubdate }}
            <br>
            <div class="dotholder">
                <hr class="dotty">
            </div>
        </div>
    {% empty %}
    {% endfor %}
    {% if owner_or_admin %}
        <button style="margin-top:10px;margin-bottom:10px" id="add_citation_button">ADD CITATION</button>
        <div id="id-citationform" class="hidden">
            {% crispy doi_form doi_form.helper %}
        </div>
    {% endif %}
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $(function() {
       $(".tooltip").tipsy({fade:false, gravity:"w", html:true});
       $("#masker").fadeOut("fast");
    });
    $("#update_theory").click(function(){
        $("#edit_theory").removeClass("hidden")
    })
    $("#update-cancel").click(function(){
       $("#edit_theory").addClass('hidden');
    })


    // Show input to add citation
    $("#add_theory_assertion_button").click(function(){
        $("#slidetarget_constass").removeClass('hidden');
    })
    $("#reset-id-theory-assertion-cancel").click(function(){
        $("#slidetarget_constass").addClass('hidden');
    })

    $("#add_citation_button").click(function(){
        $("#id-citationform").removeClass('hidden');
    })
    $("#reset-id-doi-cancel-button").click(function(){
        $("#id-citationform").addClass('hidden');
    })
    $(".select").select2({width: 'resolve'});
 
});
</script>
{% endblock %}
