{% load crispy_forms_tags %}

<div class="auth-wrapper signup-wrapper">
    <form role="form" method="post" action="{% url 'create_user' %}">
        {% csrf_token %}
        <h2>Request Contributor Account</h2>
        Sign up not necessary to view site.

        {{form | crispy }}

        <div class="extra-errors"></div>
        <div class="g-recaptcha" data-sitekey="6LcENy4UAAAAAIyBAt2WAFMByCkn_2uq2jBMMwi3"></div>
        <br>
        <button type="submit" class="btn btn-primary" data-disable-with="Signing Up…">
          Sign Up
        </button>
        <span class="pull-right auth-alt-method"><a href="{% url 'my_profile' %}">Log In</a></span>
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
    </form>
</div>
